body{
    text-align: center;
}
.asd{
    background: linear-gradient(red 0%, blue 100%);
}
#b{
    font-size:40px;
    font-weight: bold;
    text-align: center;
    color: black
}
#c{
    color: white;
}